# build --enable_workspace
# build --enable_bzlmod
build --cxxopt=/std:c++17

build --define WITH_MULTI_THREADS=ON
build --define WITH_CUDA=ON
build --define WITH_OPENCL=ON
build --define WITH_AVX=ON
build --define WITH_SSE=ON
build --define WITH_MKL=ON
build --define WITH_NEON=ON