name: Windows Build & Test

on:
  push:
    branches: [ main, ci_dev ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: 3.13

    - name: Install Dependencies
      run: |
        pip install cmake

    - name: Build
      run: |
        python .\build_mininn.py --target windows --generator vs2022 --compiler cl

    - name: Test
      run: |
        .\build\mininn\test\gtest-main.exe
        .\build\demo\demo.exe .\models\add_model.gynn
