name: Windows CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build-test:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        generator: [ninja, vs2022]
        compiler: [clang, cl]
        exclude:
          - generator: vs2022
            compiler: clang
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - uses: actions/setup-python@v4
      with:
        python-version: 3.13

    - name: Install Dependencies
      run: |
        pip install cmake

    - name: Add msvc to PATH
      if: matrix.compiler == 'cl'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build
      run: |
        python .\build_mininn.py --target windows --generator ${{ matrix.generator }} --compiler ${{ matrix.compiler }}

    - name: Test(vs2022)
      if: matrix.generator == 'vs2022'
      run: |
        .\build\mininn\test\Debug\gtest-main.exe
        .\build\demo\Debug\demo.exe .\models\add_model.gynn

    - name: Test(ninja)
      if: matrix.generator == 'ninja'
      run: |
        .\build\mininn\test\gtest-main.exe
        .\build\demo\demo.exe .\models\add_model.gynn